---
import Layout from '../layouts/Layout.astro';
import Button from "../components/Button.astro";

---

<Layout title="Magnetic Button">
	<main>
		<Button content="This is magnetic!" />
	</main>
</Layout>

<style is:global>
	:root {
		--darkColor: rgb(25,25,25);
		--lightColor: rgb(200,200,200);
		--accentColor: rgb(242,162,92);
	}

	*, *::before, *::after {
		box-sizing: border-box;
	}

	html {
		color-scheme: dark;
	}

	body {
		margin: 0;
		overscroll-behavior: none;
	}
</style>
<style>
	main {
		display: flex;
		justify-content: center;
		align-items: center;

		height: 100dvh;
		width: 100dvw;
	}
</style>

