---
export interface Props {
    content: string;
}

const {content} = Astro.props;
---
<magnetic-button>
    <a href="" class="button">
        <p class="button-text">
            {content}
        </p>
    </a>
</magnetic-button>

<script src="../scripts/MagneticButton.js"></script>

<style>
    .button {
        --top: 100%;

        color: var(--darkColor);
        background-color: var(--lightColor);

        display: flex;
        justify-content: center;
        align-items: center;

        position: relative;

        height: 10rem;
        width: 10rem;

        border: none;
        border-radius: 90px;

        text-decoration: none;

        cursor: pointer;
        overflow: hidden;

    }

    .button-text {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 2;
        pointer-events: none;
    }

    .button:after {
        content: '';

        background: var(--accentColor);

        position: absolute;
        top: var(--top);
        z-index: 1;

        height: 10rem;
        width: 10rem;

        border: none;
        border-radius: 90px;
    }
</style>
