---
export interface Props {
    content: string;
}

const { content } = Astro.props;
---

<a href="">
    {content}
</a>
<style>
    a {
        color: var(--darkColor);
        background-color: var(--lightColor);

        display: flex;
        justify-content: center;
        align-items: center;

        height: 10rem;
        width: 10rem;

        border: none;
        border-radius: 90px;

        text-decoration: none;

        cursor: pointer;
    }

    a:hover {
        background-color: var(--accentColor);
    }
</style>
